body {
    font-family: helvetica neue;
    -webkit-user-select:none;
}

.brand {
    width: 100%;
    text-align:center;
}

.navbar {
    clear:both;
}

@media (min-width: 979px){
    .page {
        margin-top: 60px;
    }
}
